body {
    font-family: "Roboto", sans-serif;
    color: black;
    margin: 0;
    background: url(images/marvel.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

header {
    margin-top: 25px;
    height: 80px;
    color: black;
    margin-bottom: 55px;
}

header h1 {
    top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

header .question-and-score {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: none;
}

.question-and-score ul {
    padding-left: 2%;
    padding-right: 2%;
}

.question-and-score li {
    display: inline-block;
    padding: 0 2%;
}

button {
    margin-top: 10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: black;
    background: lightskyblue;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 3px;
    padding: 10px 20px;
}

.box {
    width: 90%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 800px;
}

.box p {
    font-size: 20px;
}

legend {
    font-weight: 700;
    font-size: 18px;
}

.question-form .question {
    margin-bottom: 20px;
    padding: 0 2%;
    font-size: 20px;
    font-weight: 600px;
}

.options ul {
    list-style: none;
    margin: 0;
    text-align: left;
}

label {
    font-size: 18px;
}

.options span {
    display: block;
    border-radius: 5px;
}

.right-answer {
    background: ivory;
    padding: 10px 20px;
    margin: 5px 20px;
    border: 2px solid #fe0000;
}

.wrong-answer {
    background: ivory;
    padding: 10px;
    margin: 5px 20px;
    border: 2px solid #fe0000;
}

.question-form button {
    float: right;
}

button:hover:enabled,
button:focus:enabled {
    background-color: lightskyblue;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

button:disabled {
    opacity: 0.5;
}

@media screen and (min-width: 400px) {
    .box {
        width: 70%;
        margin-left: 30px;
    }
}

@media screen and (min-width: 640px) {
    .box {
        width: 55%;
        margin-top: 20px;
    }
}